%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en" }
  %head
    %link{ :rel => "stylesheet", :href => "stylesheets/menu/screen.css", :type => "text/css", :media => "screen," }
    %link{ :rel => "stylesheet", :href => "stylesheets/menu/reset.css", :type => "text/css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "stylesheets/menu/typography.css", :type => "text/css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "stylesheets/menu/common.css", :type => "text/css", :media => "screen" }
    /
      [if IE 7]><link rel="stylesheet" href="/css/core/ie7.css" type="text/css" media="screen, projection" /><![endif]
    /
      [if lte IE 6]><link rel="stylesheet" href="/css/core/ie.css" type="text/css" media="screen, projection" /><![endif]
    %script{ :src => "javascripts/mainmenu.js", :type => "text/javascript" }
  %body
    #nav
      %ul#mainmenu
        %li.on<
          %a{ :href => "http://www.opera.com/", :accesskey => "1" }
            Home
        %li<
          %a{ :href => "http://www.opera.com/products/", :accesskey => "2" }
            Products
          %ul.hide-mobile
            %li<
              %a{ :href => "http://www.opera.com/browser/" }
                Opera browser
            %li<
              %a{ :href => "http://www.opera.com/mini/" }
                Opera Mini
            %li<
              %a{ :href => "http://www.opera.com/link/" }
                Opera Link
            %li<
              %a{ :href => "http://www.opera.com/mobile/" }
                Opera Mobile
            %li<
              %a{ :href => "http://www.opera.com/devices/" }
                Opera Devices
            %li<
              %a{ :href => "http://www.opera.com/mail/" }
                Opera Mail
            %li<
              %a{ :href => "http://www.opera.com/dragonfly/" }
                Opera Dragonfly
        %li<
          %a{ :href => "http://www.opera.com/discover/", :accesskey => "3" }
            Discover
        %li<
          %a{ :href => "http://www.opera.com/developer/", :accesskey => "4" }
            Developer
        %li<
          %a{ :href => "http://www.opera.com/support/", :accesskey => "5" }
            Support
          %ul.hide-mobile
            %li<
              %a{ :href => "http://www.opera.com/support/new2opera/" }
                Get started
            %li<
              %a{ :href => "http://www.opera.com/support/register/" }
                Register Opera Mobile
            %li<
              %a{ :href => "http://www.opera.com/support/kb/" }
                Knowledge base
            %li<
              %a{ :href => "http://www.opera.com/support/community/" }
                Online communities
            %li<
              %a{ :href => "http://www.opera.com/support/bugs/" }
                Reporting bugs
            %li<
              %a{ :href => "http://www.opera.com/support/access/" }
                Access Opera
            %li<
              %a{ :href => "https://support.opera.com/otrs/" }
                Premium support
            %li<
              %a{ :href => "http://www.opera.com/docs/" }
                Documentation
        %li<
          %a{ :href => "http://www.opera.com/press/", :accesskey => "6" }
            Press
          %ul.hide-mobile
            %li<
              %a{ :href => "http://www.opera.com/press/releases/" }
                Press releases
            %li<
              %a{ :href => "http://www.opera.com/press/resources/" }
                Press resources
            %li<
              %a{ :href => "http://www.opera.com/press/facts/" }
                Fast facts
            %li<
              %a{ :href => "http://www.opera.com/press/articles/" }
                Opera in the news
            %li<
              %a{ :href => "http://www.opera.com/press/reviews/" }
                Reviewer's guide
            %li<
              %a{ :href => "http://www.opera.com/press/faq/" }
                FAQ
            %li<
              %a{ :href => "http://www.opera.com/press/contact/" }
                Press contacts
        %li<
          %a{ :href => "http://www.opera.com/company/", :accesskey => "7" }
            Company
          %ul.hide-mobile
            %li<
              %a{ :href => "http://www.opera.com/company/" }
                About Opera
            %li<
              %a{ :href => "http://www.opera.com/company/investors/" }
                Investors
            %li<
              %a{ :href => "http://www.opera.com/smw/" }
                State of the Mobile Web
            %li<
              %a{ :href => "http://www.opera.com/company/events/" }
                Opera on tour
            %li<
              %a{ :href => "http://www.opera.com/company/jobs/" }
                Job opportunities
            %li<
              %a{ :href => "http://www.opera.com/company/vision/" }
                Vision
            %li<
              %a{ :href => "http://www.opera.com/company/education/" }
                Education
            %li<
              %a{ :href => "http://www.opera.com/company/executive/" }
                Executive team
            %li<
              %a{ :href => "http://www.opera.com/company/history/" }
                History
            %li<
              %a{ :href => "http://www.opera.com/company/contact/" }
                Contact
        %li<
          %a{ :href => "http://www.opera.com/business/", :accesskey => "8" }
            Business
          %ul.hide-mobile
            %li<
              %a{ :href => "http://www.opera.com/business/" }
                Overview
            %li<
              %a{ :href => "http://www.opera.com/business/solutions/" }
                Solutions
            %li<
              %a{ :href => "http://www.opera.com/business/advantage/" }
                Opera Advantage
            %li<
              %a{ :href => "http://www.opera.com/business/customers/" }
                Customers
            %li<
              %a{ :href => "http://www.opera.com/business/partners/" }
                Partners
            %li<
              %a{ :href => "http://www.opera.com/business/gallery/" }
                Gallery
            %li<
              %a{ :href => "http://www.opera.com/business/awards/" }
                Awards
            %li<
              %a{ :href => "http://www.opera.com/business/newsletter/" }
                Newsletter
            %li<
              %a{ :href => "http://www.opera.com/business/contact/" }
                Contact us

